html, body {
  height: 100%;
  position: relative;
}

body {
  padding: 5px;
}

section {
  width: 100%;
  height: 100%;
  position: relative;
}

ul#messages {
  clear: both;
  float: left;
  position: relative;
  margin: 0 0 205px 0;
  padding: 0px;
  width: 100%;
  list-style: none;
  z-index: 1;
}

li {
  clear: both;
  float: left;
  position: relative;
  width: 100%;
}

li p {
  border-bottom: solid 1px #ccc;
  float: left;
  font-size: 1.15rem;
  font-weight: bolder;
  line-height: 1.5rem;
  overflow: hidden;
  padding-left: 10px;
  height: 200px;
  margin: 0;
  width: 80%
}

.video-container {
  float: left;
  height: 200px;
  width: 200px;
  position: relative;
}

footer {
  width: 100%;
  position: relative;
}

footer form {
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  display: block;
  position: fixed;
  background-color: rgba(10, 10, 10, 0.8);
}

#video-preview {
  width: 200px;
  height: 200px;
  background: #000;
  bottom: 5px;
  left: 5px;
  position: fixed;
  z-index: 6;
}

input[type="text"] {
  background-color: rgba(0,0,0,0);
  font-size: 16px;
  margin-left: 205px;
  padding: 10px;
  width: 100%;
  border: solid 0px #ccc;
  outline: none;
  color: #eee;
}
